.navbar {
    display: flex;
    background-color: #FDFEFF;
    flex-direction: column;
}

.navbar__desktop {
    display: flex;
    flex-direction: column;
}

.navbar__desktop > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 15px;
}

.navbar__desktop > div > div {
    width: 23px;
    height: 23px;
}

.navbar__desktop::after {
    content: "";
    display: flex;
    background-color: gray;
    height: 12px;
    width: 100%;
    margin-bottom: 3px;
}

.navbar__mobile {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 0 15px;
    background-color: #F58634;
    height: 54px;
}

.navbar__mobile--onsearch-mobile {
    height: calc(100vh - 78px);
    /* z-index: 1; */
}

.navbar__utilities {
    display: flex;
    flex-direction: row;
    min-width: fit-content;
    justify-content: space-between;
    align-items: center;
}

.navbar__utilities > * {
    min-width: fit-content;
}

.navbar__mobile > ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    flex-direction: row;
    grid-column: 2 / 2;
}

.navbar__mobile > ul > li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    list-style: none;
}

.navbar__mobile > ul > li > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 86px;
    height: 100%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: .8rem;
    gap: 1px;
}

.navbar__mobile > ul > li > div > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 86px;
    height: 100%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: .8rem;
    gap: 1px;
}

.navbar__products {
    height: 100%;
}

.navbar__desktop-burger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: .8rem;
    gap: 1px;
}

.navbar__logo-options > img {
    max-height: 67px;
    width: auto;
}

.navbar a {
    text-decoration: none;
}

.navbar__search-cart > *:not(input) {
    margin: 0 10px;
}

.navbar__search-cart {
    display: flex;
    min-width: fit-content;
    justify-content: flex-end;
}

.navbar__search-input-desktop--show {
    display: flex;
    border: 2px solid gray;
    border-radius: 30px;
    margin: 13px 0;
    padding-left: 10px;
    animation: lengthen 500ms ease;
    width: 100%;
}

.navbar__search-input-desktop--show:focus {
    outline: none;
}

.navbar__search-input-desktop--hide {
    display: flex;
    border: 2px solid gray;
    border-radius: 30px;
    margin: 13px 0;
    padding-left: 10px;
    animation: shorten 300ms ease-in;
    width: 0;
}

.navbar__search-button {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    border: 0;
}

.navbar__search-input {
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 2px solid gray;
    border-radius: 30px;
    margin: 10px;
    padding: 4px 10px;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    grid-column: 2 / 3;
}

.navbar__search-input > input {
    border: none;
    display: flex;
    width: 100%;
}

.navbar__search-input > input:focus {
    outline: none;
}

.navbar__search-input > button {
    margin: 0 10px;
}

.navbar__search-input > button > span {
    display: flex;
    max-height: fit-content;
}

.navbar__hide {
    display: none !important;
    width: 0px !important;
}

.navbar__button-style {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    border: 0;
}

.navbar__exclusive-mobile {
    display: none;
}

/* Sidebar--------------------------------------------------- */

.navbar__sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 2;
    height: 100vh;
    width: 310px;
    background-color: #F58634;
    top: 0;
    left: -100%;
    transition: left 850ms ease;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 30px;
}

.navbar__sidebar.active {
    left: 0;
    transition: left 350ms ease;
}

.sidebar__close-button {
    position: absolute;
    padding-top: 20px;
    padding-right: 20px;
    top: 0;
    right: 0;
}

.navbar__sidebar > ul {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
}

.navbar__sidebar > ul > li {
    display: flex;
    list-style: none;
}

.navbar__sidebar > ul > li > a {
    display: flex;
    align-items: center;
    color: white;
    font-size: .93rem;
    width: 100%;
    padding: 12px 0 12px 18%; 
}

.navbar__sidebar > ul > li > a:hover {
    background-color: rgba(255, 255, 255, 0.16);
}

.sidebar__home {
    margin-bottom: 30px;
}

.sidebar__home > a {
    gap: 10px;
}

.sidebar__account {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 2px solid white;
    padding: 10px;
    gap: 10px;
}

.sidebar__account > a {
    display: flex;
    color: white;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.16);
}

.sidebar__login-button {
    gap: 5px;
}

.navbar__darken {
    display: flex;
    background-color: black;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.navbar__darken-transition-enter{
    opacity: 0;
}

.navbar__darken-transition-enter-active {
    opacity: 70%;
    transition: opacity 350ms ease;
}

.navbar__darken-transition-enter-done {
    opacity: 70%;
}

.navbar__darken-transition-exit {
    opacity: 70%;
}

.navbar__darken-transition-exit-active {
    opacity: 0;
    transition: opacity 250ms ease;
}

/* ---------------------------------------------------------- */

.drop-down-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #F58634;
    top: 130px;
    overflow: hidden;
}

.drop-down-menu::before {
    content: "";
    background-color: white;
    height: 2px;
    width: 100%;
}

.drop-down-menu.mobile {
    height: calc(100vh - 132px);
    top: 132px;
    width: 100vw;
    left: 0;
}

.drop-down-menu > li {
    display: flex;
    width: 100%;
    list-style: none;
}

.drop-down-menu__item {
    display: flex;
    flex-direction: row;
    background-color: rgb(224, 224, 224);
    color: gray;
    width: 100%;
    align-items: center;
    padding: 0.8rem;
    position: relative;
    gap: 10px;
}

.drop-down-menu__item::after {
    content: "";
    background-color: gray;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
}

.drop-down-menu__item.return-item {
    background-color: #F58634;
    color: white;
}

.drop-down-menu__item:hover {
    background-color: #F7984D;
    color: white;
}

.drop-down-menu__item.return-item::after {
    background-color: white;
}

.drop-down-menu__transition {
    width: 100%;
    top: 2px;
}

.drop-down-menu__transition.enter-left {
    animation: enterLeft var(--products-transition-speed) ease;
}

.drop-down-menu__transition.exit-left {
    animation: exitLeft var(--products-transition-speed) ease;
}

.drop-down-menu__transition.enter-right {
    animation: enterRight var(--products-transition-speed) ease;
}

.drop-down-menu__transition.exit-right {
    animation: exitRight var(--products-transition-speed) ease;
}

/* Transitions */

@keyframes enterLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes exitLeft {
    0% {
        position: absolute;
        transform: translateX(0%);
    }

    100% {
        position: absolute;
        transform: translateX(-100%);
    }
}

@keyframes enterRight {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes exitRight {
    0% {
        position: absolute;
        transform: translateX(0%);
    }

    100% {
        position: absolute;
        transform: translateX(100%);
    }
}

/* ---------------------------------------------------------- */

.navbar__button-style {
    background-color: transparent;
    border-color: transparent;
}

/* ---------------------------------------------------------- */

@media (max-width: 600px) {
    .navbar__exclusive-desktop {
        display: none;
    }

    .navbar__desktop > div {
        justify-content: space-between;
    }


    /* Mobile Modifiers */
    .navbar__exclusive-mobile {
        display: flex;
    }

    .navbar__mobile {
        display: flex;
        justify-content: center;
    }

    .navbar__search-cart {
        display: none;
    }

    .navbar__mobile > div > ul {
        max-width: none;
    }
}

@keyframes lengthen {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes shorten {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}
